<div class="ToDo">
  <img
    class="Logo"
    width="300"
    alt="Angular Logo"
    src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
  />
  <h1 class="ToDo-Header">Angular To Do</h1>
  <div class="ToDo-Container">
    <div class="ToDo-Content">
      <div *ngFor="let item of list">
        <toDoItem [deleteItem]="deleteItem" [item]="item"></toDoItem>
      </div>
      <div class="ToDoInput">
        <input
          [(ngModel)]="toDo"
          type="text"
          placeholder="I need to..."
          value="{{ toDo }}"
          (change)="handleInputEvent($event)"
          (keypress)="handleKeyPressEvent($event)"
        />
        <button class="ToDo-Add" (click)="createNewToDoItem()">+</button>
      </div>
      <div class="ToDo-ErrorContainer" *ngIf="showError">
        <p>Please enter a todo!</p>
      </div>
    </div>
  </div>
</div>
